@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap'); 

/* Cores já definidas
.color1  background: #88b830; /* cor dos botões login/cadastro
.color2  background: #dce494; /* cor dos elementos (raminhos)
.color3  color: #4d691b; /* cor da logo e textos
.color4  background: #8cb34e; /* cor dos demais botões e menu
.color5  background: #c4d6a6; /* cor de fundo balões
.color6  background: #eafacf; /* cor de fundo tela 
*/
body {
    width: 92%;
    margin-left:55px;
    font-family: 'Platypi', sans-serif;
    background-color: #eafacf;
    padding-bottom:10px;
}

/* Cabeçalho da página */
.receitas-header {
    width: 101%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #dce494;
}
.receitas-header h1 {
    margin-left:20px;
    font-weight: 700;
    color: #4d691b;

}

.logo{
    max-width: 200px;
    height: auto;
    margin-left: auto;
} 